<div class="row project-team-member">
  <div class="col-xs-3">
    <img src="https://randomuser.me/api/portraits/thumb/men/0.jpg">
  </div>

  <div class="col-xs-9">
    <p><%= user.bio %></p>
  </div>
</div>
