<div class="row project-team-member">
  <div class="col-xs-3">
    <img src='<%= user.profile_image_url %>'>
  </div>

  <div class="col-xs-9">
    <h1><%= user.full_name %></h1>
    <p><%= user.bio %></p>
  </div>
</div>
