.page-header {
  padding: $grid-gutter-width 0;
  margin: 0;
  border: none;

  h1 {
    color: $brand-primary;
    font-size: ms(3);
    font-weight: bold;
    line-height: ms(5);
    margin: 0;
    padding: 0;
    text-align: center;
  }
  small {
    color: $text-color;
    display: block;
    font-size: ms(1);
  }

  &.page-header-primary {
    background-color: $brand-primary;
    h1 {
      color: white;
    }
    small {
      color: white;
    }
  }
}
