<div class='container'>
  <div class='landing-section-heading'>
    <h1>Need To Put</h1>
    <div class='row'>
      <div class='col-md-8 col-md-offset-2'>
        <p class='landing-section-subheading'>
          Whatever You Want
        </p>
      </div>
    </div>
  </div>

  <div class='row'>

      <%
        # Poor man model
        model = Struct.new(:project_1, :project_2)
        projects = Project.where(eliminated_at: nil).order('random()')
        matchups = projects.each_slice(2).map do |(p1, p2)|
          model.new p1, p2
        end
      %>

    <% matchups.each_slice(2) do |m1, m2| %>

      <div class='col-sm-5'>
        <%= render partial: 'shared/match_up_card', locals: { matchup: m1} %>
      </div>

      <div class='col-sm-5 col-sm-offset-2'>
        <%= render partial: 'shared/match_up_card', locals: { matchup: m2} %>
      </div>
    <% end %>

  </div>
</div>
