<%
winner = @competition.projects.order_by_points.first
projects = @competition.projects.where.not(id: winner.id)

projects = projects.order('random()').limit(4)
subheading = 'These projects are no longer eligable for funding through ' +
  'Billion. However, they continue to make Columbus a better place every day.' +
  ' Check them out!'
%>

  <div class='container'>
    <div class='landing-section-heading'>
      <h1>Support Columbus Changemakers</h1>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <p class='landing-section-subheading'><%= subheading %></p>
        </div>
      </div>
    </div>
    <div class='row'>
      <% projects.each do |project| %>
      <div class='col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-3'>
        <%= render partial: 'shared/project_card', locals: { project: project } %>
      </div>
      <% end %>
    </div>

    <div class='row'>
      <div class='col-md-12 text-center'>
        <%= link_to 'See all projects', projects_path, class: 'project-see-all btn btn-lg btn-primary' %>
      </div>
    </div>
  </div>
