<nav class="navbar navbar-default navbar-landing">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <%= image_tag 'greenlogo.png' %>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Social</a></li>
        <li><a href="#" class="nav-call-to-action">Join The Movement</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<section class="jumbotron jumbotron-landing">
  <div class="container">
    <h1>billion</h1>
    <p>Fundamentally Changing the Way the World Crowd Funds</p>
    <a href="#about-video" class="jumbotron-down-link">
      <span class="glyphicon glyphicon-menu-down bounce" aria-hidden="true"></span>
    </a>
  </div>
</section>

<section id="about-video" class="landing-section">
  <div class="container">
    <div class="page-header">
      <h1>Introducing Competitive Crowdfunding</h1>
    </div>
    <div class="video-container">
      <iframe width="560" height="315"
      src="https://www.youtube.com/embed/m68_iXKX5Ag" frameborder="0"
      allowfullscreen></iframe>
    </div>
  </div>
</section>

<section id="about-text" class="landing-section">
  <div class="container">
    <div class="page-header">
      <h1>How It Works</h1>
    </div>
    <div class="row">
      <div class="about-text-block">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="about-icon-block"></div>
          <h4>Pitch & Rally</h4>
          <p>On September 15, 2015 pitch your BAM on billioneffect.com and
          start to rally votes from your friends family.</p>
          <p>1 vote = $1.</p>
        </div>
      </div>
      <div class="about-text-block">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="about-icon-block"></div>
          <h4>Bracket</h4>
          <p>The top 16 ideas will be funneled into a basketball style bracket.
          Votes from other BAMs will be reallocated by donors into the
          advancing movements.</p>
        </div>
      </div>
      <div class="about-text-block">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="about-icon-block"></div>
          <h4>Crowdfund & Peoplesource</h4>
          <p>Once the winning billion movement is chosen, the community will
          begin traditional crowdfunding. Additionally, the community will
          volunteer skills and hours to support the billion movement. </p>
        </div>
      </div>
      <div class="about-text-block">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="about-icon-block"></div>
          <h4>B.A.M</h4>
          <p>Change the world!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="social" class="landing-section">
  <div class="container">
    <div class="page-header">
      <h1>Social</h1>
    </div>
  </div>
</section>

<section id="team" class="landing-section">
  <div class="container">
    <div class="page-header">
      <h1>Team</h1>
    </div>
  </div>
</section>

<section id="join" class="landing-section">
  <div class="container">
    <div class="page-header">
      <h1>Join the Movement</h1>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="col-sm-4">
      <p class="logo">billion</p>
    </div>
    <div class="col-sm-4">
      <p class="text-center">Made with
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
      in Columbus, OH</p>
    </div>
    <div class="col-sm-4">
      <p class="text-right">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
      </p>
    </div>
  </div>
</footer>
