<script>
  window.config = window.config || {};
  window.config.subscribePath = '<%= subscribe_path %>';
  window.config.authenticityToken = '<%= form_authenticity_token %>';
</script>

<section class='landing-section landing-masthead'>
  <div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <div class='logo animated fadeInDown'>
        <%= image_tag 'billion_logo_white_small.png' %>
      </div>

      <div class='tagline animated fadeIn'>
        <p>
        A competitive crowdfunding platform for social good.<br/>
        We help communities turn big ideas into big movements.
        </p>
      </div>

      <div class='scroll-btn animated fadeInUp'>
        <a class='btn btn-lg'>
          Coming to Columbus 9/19
          <%= icon('chevron-down') %>
        </a>
      </div>
    </div>
  </div>
  </div>
</section>

<section class='landing-section landing-festival'>
  <div class='container'>
    <div class='landing-section-heading'>
      <h1>Columbus Independents' Day Festival</h1>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <p>
          We are proud to partner with <a href='#'>Multivarious Games</a>
          separated they live in Bookmarksgrove right at the coast of the
          Semantics, a large language ocean.
          </p>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-6'>
        img
      </div>
      <div class='col-md-6'>
        <div class='festival-step'>
          <h2>Pitching</h2>
          <p>
          The Big Oxmox advised her not to do so, because there were thousands of
          bad Commas, wild Question Marks and devious Semikoli, but the Little
          Blind Text didn’t listen. She packed her seven versalia, put her
          initial into the belt and made herself on the way.
          </p>
          <p><strong>Have a great idea? <a href='#'>Let us know!</a></strong></p>
        </div>

        <div class='festival-step'>
          <h2>Competition</h2>

          <p> Far far away, behind the word mountains, far from the countries
          Vokalia and Consonantia, there live the blind texts. Separated they
          live in Bookmarksgrove right at the coast of the Semantics, a large
          language ocean.</p>

          <p> A small river named Duden flows by their place and supplies it
          with the necessary regelialia. It is a paradisematic country, in
          which roasted parts of sentences fly into your mouth.</p>

        </div>

        <div class='festival-step'>
          <h2>Winner</h2>

          <p> A small river named Duden flows by their place and supplies it
          with the necessary regelialia. It is a paradisematic country, in
          which roasted parts of sentences fly into your mouth.</p>

        </div>

      </div>
    </div>
  </div>
</section>

<section class='landing-section landing-pitch'>
  <div class='container'>
    <div class='landing-section-heading'>
      <h1>Pitch Your Idea</h1>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <p>Have a great idea? We'd love to talk!</p>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-4 col-md-offset-1'>
        <h2>Who</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and
        Consonantia, there live the blind texts. Separated they live in Bookmarksgrove
        right at the coast of the Semantics, a large language ocean.</p>

        <p>A small river named Duden flows by their place and supplies it with the
        necessary regelialia. It is a paradisematic country, in which roasted parts of
        sentences fly into your mouth.</p>
      </div>

      <div class='col-md-4 col-md-offset-2'>
        <h2>Why</h2>
        <p>Even the all-powerful Pointing has no control about the blind texts
        it is an almost unorthographic life One day however a small line of
        blind text by the name of Lorem Ipsum decided to leave for the far
        World of Grammar.</p>

        <p>The Big Oxmox advised her not to do so, because there were thousands
        of bad Commas, wild Question Marks and devious Semikoli, but the Little
        Blind Text didn’t listen. She packed her seven versalia, put her
        initial into the belt and made herself on the way. When she reached the
        first hills of the Italic Mountains, she had a last view back on the
        skyline of her hometown Bookmarksgrove</p>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-12'>
        <div class='submit-btn-container'>
          <a href='#' class='submit-idea-btn btn btn-lg btn-primary'>
            Submit your idea
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class='landing-section landing-dates'>
  <div class='container'>
    <div class='landing-section-heading'>
      <h1>Important Dates</h1>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <p>Even the all-powerful Pointing has no control about the blind
          texts it is an almost unorthographic life</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class='landing-section landing-join'>
  <div class='container'>
    <div class='landing-section-heading'>
      <h1>Join the Movement</h1>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <p>We'll keep you updated on our progress. <a href='#'>Still have
            questions? Ask away!</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class='landing-footer'>
  footer
</footer>
