<div class="row stats-without-competitor">
  <div class="col-xs-5 col-xs-offset-1 project-stat-container">
    <div class="project-stat-header"><strong>For Us</strong></div>
    <div class="project-stat-pts">3,265</div>
    <div class="project-stat-currency">Points</div>
  </div>

  <div class="col-xs-5 project-stat-container">
    <div class="project-stat-header"><strong>
      Total <a href="#"><i class="fa fa-question-circle"></i></a>
    </strong></div>
    <div class="project-stat-pts">3,265</div>
    <div class="project-stat-currency">Dollars</div>
  </div>
</div>
