<div class="row stats-with-competitor">
  <div class="col-xs-4 project-stat-container">
    <div class="project-stat-header"><strong>Us</strong></div>
    <div class="project-stat-pts">3,265</div>
    <div class="project-stat-currency">Points</div>
  </div>

  <div class="col-xs-4 project-stat-container">
    <div class="project-stat-header">04:12:43</div>
    <div class="project-stat-vs">vs</div>
  </div>

  <div class="col-xs-4 project-stat-container">
    <div class="project-stat-header"><strong>Them</strong></div>
    <div class="project-stat-pts">3,265</div>
    <div class="project-stat-currency">Points</div>
  </div>
</div>
