<% set_meta_title t('meta.projects_title') %>
<% set_meta_description t('meta.projects_description') %>

<div class='page-header'>
  <div class='container'>
    <div class='row'>
      <h1>Billion Movements
        <small>Help Change Columbus for the Better</small>
      </h1>
    </div>
  </div>
</div>

<section class='projects-body'>
  <div class='container'>
    <div class='row'>
      <% Project.all.shuffle.each do |project| %>
        <div class='col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-3'>
          <%= render partial: 'shared/project_card', locals: { project: project } %>
        </div>
      <% end %>
    </div>
  </div>
</section>
