.masthead-container {
  background-image: image-url('landing_bg/491850284_c86bf9dcb3_o.jpg');
  background-attachment: fixed;
  background-position: top center;
  height: 600px;
  background-size: auto 150%;

  @media (min-width: $screen-sm-min) {
    background-size: cover;
  }
}

.navbar-landing {
  background: none;
  border-bottom: none;

  li a {
    color: white;
    padding: 5px 10px;
    margin: 10px 0;
  }

  .navbar-brand img {
    width: 50px;
  }

  .nav-call-to-action {
    background-color: $brand-primary;
    border-radius: $border-radius-base;

    &:hover {
      background-color: lighten($brand-primary, 10%) !important;
    }
  }

  .navbar-brand {
    .logo-image {
      display: inline;
    }
    .logo-text {
      font-family: $font-family-logo;
      font-weight: bold;
      font-size: 40px;
      vertical-align: middle;
      //color: $brand-primary;
      color: $gray-base;
    }
  }

  nav li {
    font-color: $gray-base;
  }
}

.jumbotron-landing {
  margin-bottom: 0;
  text-align: center;
  position: relative;
  background: none;
  padding-top: 0;

  .bounce {
    -moz-animation-delay: 3s;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;

    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
  }

  .tag-line {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    //border: 5px solid $brand-primary;
    color: $gray-base;
    background-color: rgba(255, 255, 255, 1);
    display: inline-block;
    padding: 0.4em 1.2em;
    margin: 0 auto;
    @media (min-width: $screen-sm-min) {
      font-size: 30px;
    }
  }

  .scroll-btn {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 60px;
    margin-left: -30px;
  }

  .jumbotron-down-link {
    display: inline-block;
    color: $brand-primary;
    font-size: 60px;

    &:hover, &:visited, &:active, &:focus {
      text-decoration: none;
    }
  }

  .logo-text {
    font-family: $font-family-logo;
    font-size: 80px;
    color: $gray-base;
  }

  .play-btn {
    background-color: white;
    font-size: 18px;
    padding: 0.5em 1.25em;
    margin-top: 1em;
    color: $gray-base;
    .fa-play {
      margin-right: 0.5em;
    }
    &:hover {
      background-color: $gray-base;
      color: white;
      @include transition(all 0.3s)
    }
  }

  @media (min-width: $screen-sm-min) {
    padding-top: 50px;
  }

}
