.landing {
  /* background colors */
  $bg-blue: #67C6FF;
  $bg-orange: #FEC27C;

  @mixin visible-when-animated {
    visibility: hidden;

    &.animated { visibility: visible; }
  }

  &-section {
    padding: $grid-gutter-width * 3 0;

    h2 {
      font-size: ms(1);
      font-weight: bold;
      line-height: 2;
      color: $brand-primary;
    }

    p {
      line-height: 1.8;
    }

    &-heading {
      text-align: center;
      margin-bottom: $grid-gutter-width;
      h1 {
        margin: 0 0 $grid-gutter-width / 2;
        color: $brand-primary;
        font-weight: bold;
      }

      p {
        font-size: ms(1);
        margin: 0;
        line-height: ms(3);
      }
    }

  }

  &-masthead {
    $background: $bg-blue;
    background-color: $background;

    .logo {
      height: 40px;
      margin: 20px 10px;
    }

    .masthead-content-container {
      padding: 160px 0 200px;
    }

    .tagline, .scroll-btn {
      text-align: center;
    }

    .tagline {
      font-weight: 300;
      color: $brand-primary;
      font-size: ms(3);
      line-height: 1.6;
      margin-bottom: 40px;
    }

    .scroll-btn {
      text-align: center;

      a {
        font-size: ms(1);
        padding: 10px 15px;
        border: none;
        background-color: $brand-primary;
        border-radius: 50%;
        color: lighten($background, 20%);
      }

      l
      .fa {
        color: white;
      }

      &.animated {
        @include animation-delay(0.8s);
      }
    }

  }

  &-festival {
    counter-reset: festival-step;

    .festival-img-lg {
      @include visible-when-animated;
    }

    .festival-step {
      margin: $grid-gutter-width 0;
      visibility: hidden;

      &.animated {
        visibility: visible;
      }
    }

    h2 {
      $counter-width: 1em;

      position: relative;

      &::before {
        counter-increment: festival-step;
        content: counter(festival-step) ". ";

        @media (min-width: $screen-sm) {
          content: counter(festival-step);
          display: block;
          left: - $counter-width - 0.5em;
          position: absolute;
          text-align: right;
          top: 0;
          width: $counter-width;
        }
      }
    }

    .festival-img-sm {
      display: block;
      width: 100%;

      @media (min-width: $screen-md) {
        display: none;
      }
    }

    .lg-festival-img-container {
      padding: 40px 0 0 0;
      overflow: hidden;
    }

    .festival-img-lg {
      display: none;
      margin-top: 10%;
      width: 90%;

      @media (min-width: $screen-md) {
        display: block;
      }
    }
  }

  &-pitch {
    $background: $bg-orange;
    background-color: $background;

    h2 {
      text-align: center;
    }

    .pitch-who, .pitch-why {
      visibility: hidden;

      &.animated {
        visibility: visible;
      }
    }

    .submit-btn-container {
      text-align: center;
      margin: $grid-gutter-width * 2 0 0;
    }

    .submit-idea-btn {
      color: lighten($background, 10%);
      padding: 1em 2em;
    }

    .fa-ul{
      font-size: 2em;
    }
  }

  &-dates {
    h2 {
      text-align: center;
      margin-top: 0;
    }
    p {
      text-align: center;
    }

    .timeline-event {
      position: relative;
    }

    .event-container {
      visibility: hidden;

      &.animated {
        visibility: visible;
      }

      &.animated:nth-of-type(2) {
        @include animation-delay(0.1s);
      }

      &.animated:nth-of-type(3) {
        @include animation-delay(0.2s);
      }

      &.animated:nth-of-type(4) {
        @include animation-delay(0.3s);
      }
    }

    .timeline-date {
      display: block;
      text-align: center;
    }

    .timeline-past-event {
      display: none;
    }

    @media (max-width: $screen-md) {
      .timeline-event {
        border-bottom: 1px solid $gray;
        padding: $grid-gutter-width / 2 0;
      }
    }

    @media (min-width: $screen-md) {
      .timeline {
        padding-top: $grid-gutter-width * 2;
        position: relative;
      }

      .timeline::before {
        display: block;
        content: '';
        height: 1px;
        position: absolute;
        top: $grid-gutter-width;
        left: 0;
        background-color: $gray;
        width: 100%;
      }

      $size: floor($grid-gutter-width / 3 * 2);
      .timeline-event::before {
        content: '';
        display: block;
        width: $size;
        height: $size;
        border-radius: 50%;
        background-color: $brand-primary;
        border: 3px solid $body-bg;
        position: absolute;
        margin-top: - $grid-gutter-width - ($size / 2);
        margin-left: - ($size / 2);
        left: 50%;
        @include transition(all 0.2s);
        @include transition-property(width, height, margin-top, margin-left);
      }

      .timeline-event:hover::before {
        $new-size: $size * 1.5;
        width: $new-size;
        height: $new-size;
        margin-left: - $new-size / 2;
        margin-top: - $grid-gutter-width - ($new-size / 2);
      }

      .timeline-past-event {
        display: block;
        color: $gray;
        h2 { color: $gray; }
        &::before {
          background-color: $gray;
        }
      }
    }
  }

  &-join {
    background-color: #e0e0e0;

    form {
      margin-top: $line-height-computed;
    }
  }

  &-footer {
    background-color: $brand-primary;
    padding: $grid-gutter-width * 2 0;
  }

  &-pitch-modal {
    @media (min-width: $screen-md-min) {
      .modal-dialog {
        width: 800px;
      }
    }
  }
}
