.landing-section {
  padding: 20px 0 70px;

  .section-header {
    padding: 30px 0;
    text-align: center;
  }

  .section-rant {
    font-weight: 300;
    font-size: $font-size-h2;
    line-height: 1.25;
    padding: 40px 0;

    strong {
      font-weight: 600;
      color: $headings-color;
    }
  }

  &:nth-child(2n) {
    background-color: $body-bg-lighter;
  }
}

#landing-about {
  .about-icon-block {
    width: 100%;
    height: 180px;
  }

  .about-text-block {
    margin-bottom: 40px;
  }

  .about-text-blocks {
    > div:nth-child(1) .about-icon-block {
      @include number-label(white) { content: '1'}
      background-color: $green;
    }

    > div:nth-child(2) .about-icon-block {
      @include number-label(white) { content: '2'}
      background-color: $red;
    }

    > div:nth-child(3) .about-icon-block {
      @include number-label(white) { content: '3'}
      background-color: $blue;
    }
  }

  h4 {
    margin-top: 20px;
    text-align: center;
  }
}

#landing-join {
  input {
    @include box-shadow(none);
  }
  p {
    font-size: $font-size-h4;
    text-align: center;
    margin-top: 0.5em;
  }

}

footer {
  background-color: $body-bg-light;
  height: 150px;

  .fa {
    margin-left: 5px;
  }

  img {
    padding: 20px 0;
    width: 35px;
  }

  .logo {
    font-family: $font-family-logo;
    font-size: 21px;
  }

  p {
    font-size: 16px;
    line-height: 150px;
    margin: 0;
    padding: 0
  }
}
