.landing {
  /* background colors */
  $bg-blue: #67C6FF;
  $bg-orange: #FEC27C;

  &-section {
    padding: $grid-gutter-width * 3 0;

    h2 {
      font-size: 18px;
      font-weight: bold;
      line-height: 2;
      color: $brand-primary;
    }

    &-heading {
      text-align: center;
      margin-bottom: $grid-gutter-width;
      h1 {
        margin: 0 0 $grid-gutter-width / 2;
        color: $brand-primary;
        font-weight: bold;
      }

      p {
        font-size: 18px;
        margin: 0;
      }
    }

    p {
      line-height: 1.8;
    }
  }

  &-masthead {
    $background: $bg-blue;

    background-color: $background;
    text-align: center;
    padding: 120px 0 100px;

    .logo {
      height: 90px;
    }

    .tagline {
      font-weight: 300;
      color: $brand-primary;
      font-size: 27px;
      line-height: 1.6;
      margin-bottom: 70px;
    }

    .scroll-btn {
      text-align: center;
      a {
        font-size: 19px;
        padding: 20px;
        border: none;
        background-color: $brand-primary;
        color: lighten($background, 20%);
      }
      .fa {
        margin-left: 15px;
        color: white;
      }
    }

    .animated {
      // delay it a bit to improve the chance that the images and fonts has
      // been loaded
      @include animation-delay(0.5s);
    }
  }

  &-festival {
    counter-reset: festival-step;

    .festival-step {
      margin: $grid-gutter-width 0;
    }

    h2 {
      $counter-width: 1em;

      position: relative;

      &::before {
        counter-increment: festival-step;
        content: counter(festival-step) ". ";

        @media (min-width: $screen-sm) {
          content: counter(festival-step);
          display: block;
          left: - $counter-width - 0.5em;
          position: absolute;
          text-align: right;
          top: 0;
          width: $counter-width;
        }
      }
    }
  }

  &-pitch {

    $background: $bg-orange;

    background-color: $background;
    h2 {
      text-align: center;
    }

    .submit-btn-container {
      text-align: center;
      margin: $grid-gutter-width * 2 0 0;
    }

    .submit-idea-btn {
      color: lighten($background, 10%);
      padding: 1em 2em;
    }
  }

  &-dates {
    h2 {
      text-align: center;
      margin-top: 0;
    }
    p {
      text-align: center;
    }

    .timeline-event {
      position: relative;

    }

    .timeline-date {
      display: block;
      text-align: center;
    }

    .timeline-past-event {
      display: none;
    }

    @media (max-width: $screen-md) {
      .timeline-event {
        border-bottom: 1px solid $gray;
        padding: $grid-gutter-width / 2 0;
      }
    }

    @media (min-width: $screen-md) {
      .timeline {
        padding-top: $grid-gutter-width * 2;
        position: relative;
      }

      .timeline::before {
        display: block;
        content: '';
        height: 1px;
        position: absolute;
        top: $grid-gutter-width;
        left: 0;
        background-color: $gray;
        width: 100%;
      }

      $size: $grid-gutter-width / 2;
      .timeline-event::before {
        content: '';
        display: block;
        width: $size;
        height: $size;
        border-radius: 50%;
        background-color: $brand-primary;
        border: 3px solid $body-bg;
        position: absolute;
        margin-top: - $grid-gutter-width - ($size / 2);
        margin-left: - ($size / 2);
        left: 50%;
        @include transition(all 0.1s)
      }

      .timeline-event:hover::before {
        $new-size: $size * 1.5;
        width: $new-size;
        height: $new-size;
        margin-left: - $new-size / 2;
        margin-top: - $grid-gutter-width - ($new-size / 2);
      }

      .timeline-past-event {
        display: block;
        color: $gray;
        h2 { color: $gray; }
        &::before {
          background-color: $gray;
        }
      }
    }
  }

  &-join {
    background-color: #e0e0e0;
  }

  &-footer {
    background-color: $brand-primary;
    padding: $grid-gutter-width * 2 0;
  }
}
