.project {
  &-header {
    padding: ($grid-gutter-width * 2) 0;
  }

  &-summary-container {
    h1 {
      font-size: ms(2);
      font-weight: bold;
    }

    p {
      font-size: ms(0);
      line-height: 1.5em;
    }

    .project-collaborators {
      margin: ($grid-gutter-width / 2) 0;
    }

    .project-blurb {
      margin: $grid-gutter-width 0;
    }

    .project-support {
      margin-top: $grid-gutter-width;

      p {
        text-align: center;
        color: $brand-danger;
        line-height: ms(3);
      }

      .btn {
        padding: $grid-gutter-width / 2;
        font-size: ms(2);
      }
    }

    .project-stat-header {
      font-size: ms(0);
      text-transform: uppercase;
    }

    .project-stat-pts {
      font-size: ms(3);
      font-weight: bold;
      margin: 5px 0;
    }

    .project-stat-currency {
      font-size: ms(0);
      font-weight: lighter;
    }

    .project-stat-vs {
      font-weight: bold;
      border-radius: 50%;
      border: 2px solid $black;
      text-transform: uppercase;
      display: inline-block;
      width: 40px; height: 40px;
      line-height: 35px;
      margin-top: 10px;
    }
  }


  &-body {
    background-color: $white;
    padding: ($grid-gutter-width / 2) 0 $grid-gutter-width;

    $base-line-height: ms(2);

    h1 {
      font-size: ms(1);
      font-weight: bold;
      line-height: $base-line-height;
      margin: $base-line-height * 1.5 0 $base-line-height * 0.5;
    }

    p, li {
      font-size: ms(0);
      line-height: $base-line-height;
    }

    p, ul, ol {
      margin-bottom: $base-line-height;
    }

    img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
      padding: 0 1em;
    }

    .project-team-member {

      .collaborator-name {
        font-size: ms(0);
        font-weight: bold;
        line-height: $base-line-height;
      }

      img {
        width: 100%;
        border-radius: 50%;
        padding: 0;
      }
    }

    .project-body-tabs {
      border-bottom: 1px solid $body-bg;
      margin-bottom: $grid-gutter-width / 2;

      .social-sharer {
        float: right;
        .social-share-icon {
          margin: 0 0.2em 0;
        }
      }
    }

    .project-body-tab {
      font-size: ms(1);
      font-weight: bold;
      text-align: center;
      display: inline-block;
      position: relative;
      padding-bottom: $grid-gutter-width / 2;
      margin-bottom: -3px;

      & + .project-body-tab {
        margin-left: $grid-gutter-width;
      }

      &.active {
        border-bottom: 3px solid $orange;

        &:after {
          content: '';
          display: block;
          width: 0; height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid $orange;
          position: absolute;
          bottom: -10px; left: 50%;
          margin-left: -10px;
        }
      }
    }


    .social-sharer-footer {
      p {
        margin-bottom: 0;
      }

      .social-share-icon {
        font-size: ms(0);
        margin-left: 0;
        margin-right: 0.5em;
      }
    }
  }

  &-competitor-container {
    color: $black;

    &:hover .project-competitor {
      background-color: lighten($orange, 5%);
    }
  }

  &-competitor {
    background-color: $orange;
    padding: ($grid-gutter-width * 2) 0;

    .project-competitor-content {
      text-align: center;
    }

    .project-competitor-title {
      font-size: ms(0);
      font-weight: bold;
      text-transform: uppercase;
    }

    .project-competitor-name {
      color: $brand-primary;
      font-size: ms(3);
      font-weight: bold;
      margin: ($grid-gutter-width / 2) 0 $grid-gutter-width;
    }

    .project-competitor-blurb {
      font-size: ms(0);
      line-height: 1.75em;
    }
  }
}
