.story {
  padding: $grid-gutter-width * 2 0;

  &-nav {
    border: 1px solid black;
  }

  &-content {

    $base-line-height: ms(2);

    h2 {
      font-weight: bold;
      font-size: ms(2);
      line-height: ms(2);
      margin: ms(2) * 2 0 ms(2);
      text-align: center;
    }

    h3 {
      font-size: ms(1);
      font-weight: bold;
      margin: ms(2) / 2 * 2 0 ms(2) / 2;
    }

    p, li {
      font-size: ms(0);
      line-height: ms(2);
      margin: 0 0 ms(2) 0.75 0;
      padding: 0;
    }
  }

  &-cta {
    padding: $grid-gutter-width 0;
    text-align: center;
    p {
      font-size: ms(1);
    }
  }

}
