.terms {
  h2 {
    font-weight: bold;
    font-size: ms(1);
    line-height: ms(2);
    text-align: center;
    margin: ms(2) * 2 0 ms(2);
  }

  p {
    line-height: ms(2);
  }

  p {
    margin-bottom: ms(2);
  }

  &-content {
    margin: $grid-gutter-width 0;
  }

  &-contact {
    h1 {
      font-weight: bold;
      font-size: ms(2);
    }
    background-color: $orange;
    padding: $grid-gutter-width 0;
  }
}
