.transaction-form {
  padding: $grid-gutter-width 0;

  .giving-sentence {
    font-size: ms(2);
    text-align: center;
    line-height: 2;

    a {
      font-weight: bold;
    }

    input, select {
      border: none;
      background-color: transparent;
      border-bottom: 1px solid $blue;
      height: 1.5em;
      line-height: 1.5;
      color: $brand-primary;
      background-color: transparentize($blue, 0.95);
    }

    option {
      font-size: ms(0);
      background-color: white;
    }

    .amount-field {
      width: 4em;
      text-align: right;
    }

    .project-select {
      width: 15em;
      &:active {
        outline: none;
      }
    }
  }

  .payment-spinner {
    font-size: ms(1);
    text-align: center;
    margin: $grid-gutter-width 0;
  }

  .payment-form {
    margin: $grid-gutter-width 0;
    &.loading {
      opacity: 0;
    }

    @include transition(opacity 0.5s);
  }

  .braintree-control {
    @extend .form-control;
    position: relative;

    &.braintree-hosted-fields-focused {
      border-color: $input-border-focus;
    }

    &.braintree-hosted-fields-invalid {
      border-color: $state-danger-text;
      background-color: $state-danger-bg;
    }

    &.disabled {
      background-color: $input-bg-disabled;
      cursor: $cursor-disabled;
    }
  }
}
