/* BOOTSTRAP */


//== Colors
$gray-base: #444951;
$brand-primary: #323B63;

//== Scaffolding

$body-bg: #eee;
$text-color: #222;


//== Typography
$font-family-sans-serif: 'Open Sans', Helvetica, Arial, sans-serif !default;
$font-size-base: 14px;
$font-size-h1: floor(($font-size-base * 2.4)) !default;

$headings-color: $gray-base;

// Components
$border-radius-base: 0;
$border-radius-large: $border-radius-base;
$border-radius-small: $border-radius-base;

/* CUSTOM VARIABLES */

// Typography
$font-family-logo: 'Righteous', Helvetica, Arial, sans-serif !default;
