<nav>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= link_to root_path do %>
          <%= image_tag 'billion_logo_small.png', class: 'logo' %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
