<!DOCTYPE html>
<html>
<head>
  <title>Billion - Changing the way the world crowdfunds. For good.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href='http://fonts.googleapis.com/css?family=Righteous|Muli:300,400' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all',
    'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
